@import '@/styles/lib/tailwind.css';
@import '@/styles/lib/github-markdown.less';
@import '@/styles/lib/highlight.less';
@import '@/styles/global.less';

#root {
  width: 100%;
  height: 100vh;
}

* {
  scrollbar-color: #ececec transparent;
}
